html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #404042;
	color: #eee;
}

header {
	width: 100%;
	min-height: 50px;
	background: #333;
	color: #80bd01;
	font-family: 'Lobster', cursive;
}
header:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

header h1 {
	float: left;
	margin: 0 15px;
	padding: 0;
	font-size: 2.2rem;
	line-height: 50px;
}

header h1 img {
	width: 40px;
	height: 40px;
	float: left;
	position: relative;
	top: 5px;
}

header h1 .title {
	margin-left: 5px;
}

header nav {
	float: right;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 50px;
}

header nav ul {
	margin: 0 15px;
	padding: 0;
	list-style: none;
	height: 100%;
}

header nav ul li {
	float: left;
	padding: 0 10px;
}

header nav a {
	color: #bbb;
	text-decoration: none;
}
header nav a:hover, header nav a:focus {
	text-decoration: underline;
	color: #ddd;
}

header nav .logout,
#main .user {
	display: none;
}

#main {
	margin: 10px 15px;
	text-align: center;
	font-size: 2rem;
}
