/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #f8f8f2;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}
.token.boolean,
.token.number {
  color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}
.token.atrule,
.token.attr-value {
  color: #e6db74;
}
.token.keyword {
  color: #66d9ef;
}
.token.regex,
.token.important {
  color: #fd971f;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
.highlight .k {
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  font-weight: bold;
}
/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #aa0000;
}
/* Generic.Error */
.highlight .gh {
  color: #999999;
}
/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #555555;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
}
/* Generic.Traceback */
.highlight .kc {
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kn {
  font-weight: bold;
}
/* Keyword.Namespace */
.highlight .kp {
  font-weight: bold;
}
/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */
.highlight .m {
  color: #009999;
}
/* Literal.Number */
.highlight .s {
  color: #d14;
}
/* Literal.String */
.highlight .na {
  color: #008080;
}
/* Name.Attribute */
.highlight .nb {
  color: #0086B3;
}
/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #008080;
}
/* Name.Constant */
.highlight .ni {
  color: #800080;
}
/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */
.highlight .nn {
  color: #555555;
}
/* Name.Namespace */
.highlight .nt {
  color: #CBDFFF;
}
/* Name.Tag */
.highlight .nv {
  color: #008080;
}
/* Name.Variable */
.highlight .ow {
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #009999;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #009999;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #009999;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #009999;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #d14;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #d14;
}
/* Literal.String.Char */
.highlight .sd {
  color: #d14;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #d14;
}
/* Literal.String.Double */
.highlight .se {
  color: #d14;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #d14;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #d14;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #d14;
}
/* Literal.String.Other */
.highlight .sr {
  color: #009926;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #d14;
}
/* Literal.String.Single */
.highlight .ss {
  color: #990073;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #008080;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #008080;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #009999;
}
/* Literal.Number.Integer.Long */
.type-csharp .highlight .k {
  color: #0000FF;
}
.type-csharp .highlight .kt {
  color: #0000FF;
}
.type-csharp .highlight .nf {
  color: #000000;
  font-weight: normal;
}
.type-csharp .highlight .nc {
  color: #2B91AF;
}
.type-csharp .highlight .nn {
  color: #000000;
}
.type-csharp .highlight .s {
  color: #A31515;
}
.type-csharp .highlight .sc {
  color: #A31515;
}
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  background: #151515 url("/images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
/* General & 'Reset' Stuff */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
section {
  display: block;
  margin: 0 0 20px 0;
}
li {
  line-height: 1.4;
}
body #main_content pre {
  max-width: 1000px;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #80bd01;
  margin: 0 0 40px 0;
  background: #151515 url("/images/bkg.png") 0 0;
}
header .container {
  padding: 20px 0;
}
header .title-container {
  float: left;
}
header .title-container .home-link {
  display: block;
}
header .title-container .title-inner {
  float: left;
}
header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #80bd01;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  margin: 0;
}
header img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
}
header .nav-container {
  float: right;
}
header .nav-container ul {
  margin: 0;
  padding: 0;
}
header .nav-container ul li::before {
  margin-right: 0;
}
footer {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px dashed #80bd01;
  background: #151515 url("/images/bkg.png") 0 0;
}
footer .container {
  padding: 5px;
}
footer .author {
  float: left;
}
footer .license {
  float: right;
}
nav.subnav {
  position: absolute;
  top: 140px;
  left: -250px;
  width: 250px;
}
nav.subnav ul li::before {
  margin-right: 0;
}
#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}
/* Main Content
*/
#main_content {
  position: relative;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
}
#main_content.api-documentation {
  min-height: 900px;
}
#main_content h1 {
  font-size: 30px;
}
#main_content h2 {
  font-size: 24px;
  margin-top: 70px;
}
#main_content h2:first-child {
  margin-top: 0;
}
#main_content h3 {
  font-size: 18px;
}
#main_content h3 .aliases {
  color: #aaa;
  font-size: 0.8em;
}
#main_content h4 {
  font-size: 14px;
}
#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}
section img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #80bd01;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}
dt {
  font-style: italic;
  font-weight: bold;
}
ul li {
  list-style: none;
}
ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #80bd01;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}
blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}
pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #80bd01;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 20px !important;
}
table {
  width: 100%;
  margin: 0 0 20px 0;
}
th {
  text-align: left;
  border-bottom: 1px dashed #80bd01;
  padding: 5px 10px;
}
td {
  padding: 5px 10px;
}
hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #80bd01;
  color: #80bd01;
}
/* Buttons
*/
.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid #000000;
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}
.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}
.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}
/* Links
   a, a:hover, a:visited
*/
a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
/* Clearfix */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
